<div class="chosen-pizza d-flex flex-column align-items-start justify-content-center gap-2">
  <div class="header  d-flex align-items-start gap-2">
    <span class="name">Pizza - {{pizza.tamanho}}</span>
    <div class="qtde d-flex gap-1 align-items-center">
      <i class="bi bi-dash-circle"></i>
      <span class="varQtde">0</span>
      <i class="bi bi-plus-circle"></i>
    </div>
  </div>
  <div class="details d-flex flex-column">
    <span class="price">$R 70.00</span>
    <div class="obsrv">Observação : Sample</div>
  </div>
  <div class="sabores d-flex align-items-start justify-content-between gap-4">
    <div class="item-sabor">
      <p class="title-sabor m-0">Sabor 1</p>
      <p class="name-sabor">Cheese</p>
    </div>
    <div class="item-sabor">
      <p class="title-sabor m-0">Sabor 2</p>
      <p class="name-sabor">Pepperoni</p>
    </div>
    <div class="item-sabor">
      <p class="title-sabor m-0">Sabor 3</p>
      <p class="name-sabor">Chicken</p>
    </div>
    <div class="item-sabor">
      <p class="title-sabor m-0">Sabor 4</p>
      <p class="name-sabor">emty</p>
  </div>
</div>
    <div class="actions d-flex gap-3">
        <button class="btn">Excluir Produto</button>
        <button class="btn">Editar Produto</button>
    </div>
</div>
