@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Source+Sans+3&display=swap');

.novo {
    display: flex;
    width: 180px;
    height: 46px;
    padding: 8px 21px 8px 22px;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    background: #FAFAFA;
    cursor: pointer;
    margin-right: 30px;
}

.bi-plus-circle-fill {
    font-size: 23px;
    color: #F6725C;
}

p {
    margin-top: 16px;
    color: #2A282F;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.8px;
}