<div class="registrar">
    <div class="header">
        <h1>Sabores</h1>
        <hr>
    </div>
    


    <form class="needs-validation">
      <div class="aviso d-flex align-items-center ms-4" id="alert" [ngClass]="{'alert alert-success': type === 'success', 'alert alert-danger': type === 'danger' }">
        <p name="mensagem">{{mensagem}}</p>
    </div>

      <div class="row g-3 ms-3">
          <div class="col-md-4">
                <label for="nomeSabor" class="form-label margintop">Nome do Sabor</label>
                <input
                type="text"
                class="form-control inputs"
                id="nomeSabor"
                name="nomeSabor"
                placeholder="Digite aqui..."
                [(ngModel)]="sabor.nomeSabor"
                />
          </div>
    
            <div class="col-md-3">
              <label for="ingredientes" class="form-label marginleft margintop">Ingredientes</label>
                
                <mat-select [formControl]="toppings" multiple name="ingredientesSabor" [(ngModel)]="ingredienteSelecionado" class="form-control marginleft inputs">
                    <mat-select-trigger>
                      {{ingredienteSelecionado?.[0]?.nomeIngrediente || ''}}
                      <span *ngIf="(ingredienteSelecionado?.length || 0) > 1" class="example-additional-selection">
                        (+{{(ingredienteSelecionado?.length || 0) - 1}} {{ingredienteSelecionado?.length === 2 ? 'outro' : 'outros'}})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let topping of ingredientes" [value]="topping">{{topping.nomeIngrediente}}</mat-option>
                  </mat-select>
              
              </div>
    
            <div class="col-md-3">
                <label for="valorAdicional" class="form-label margintop marginleft">Valor Adicional</label>
                <input
                  type="number"
                  class="form-control marginleft inputs"
                  id="valorAdicional"
                  name="valorAdicional"
                  placeholder="Digite aqui..."
                  [(ngModel)]="sabor.valorAdicional"
                />
              </div>
    
        </div>
    
        <div class="row g-3 mt-3 ms-3">
            <div class="col-md-4">
                <label for="descSabor" class="form-label">Descrição do Sabor</label>
                <input
                type="text"
                class="form-control inputs"
                id="descSabor"
                name="descSabor"
                placeholder="Digite aqui..."
                [(ngModel)]="sabor.descricao"
                />
            </div>
        </div>
    
        <div class="actions d-flex flex-row gap-1">
            <button class="btn btn-primary" routerLink="/cardapio/sabores/listar">Cancelar</button>
            <button class="btn btn-secondary" type="submit" (click)="submit()"  >Continuar</button>
        </div>
    
    
    </form>  
    </div>