<div class="listar-pedidos">
  <div class="header">
    <h1>Pedidos</h1>
    <hr />
  </div>
  <div class="body">
    <app-new-pedido></app-new-pedido>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Cliente</th>
        <th>Funcionario</th>
        <th>Data</th>
        <th>Forma de Retirada</th>
        <th>Status</th>
        <th>Valor Total</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.cliente.nome }}</td>
        <td>{{item.funcionario.nome}}</td>
        <td>{{item.cadastro | formatarData}}</td>
        <td>{{item.formaDeEntrega}}</td>
        <td>
          <span [class]="'badge rounded-pill text-' + getStatusClass(item.status)">
            {{item.status}}
          </span>
        </td>        
        <td>{{ (item.valorTotal === 0) ? 0.00 : item.valorTotal }}</td>
        <td>
          <button type="button"  class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">Detalhar</button>
          <button type="button"  class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>