<div class="listar-pedidos">
  <div class="header">
    <h1>Pedidos</h1>
    <hr />
  </div>
  <div class="body">
    <div [ngClass]="{
      'alert alert-success':'!isErro',
      'alert alert-danger':'isErro'}" *ngIf="mensagem" role="alert">
      {{mensagem}}
    </div>
    <app-new-pedido></app-new-pedido>
    <app-table
    [headers]="callHeaders()"
    [apiUrl]="apiUrlPath()"
    [editPath]="'pedidos/menu-pedido/'"
    [entityName]="'pedido'" 
    [showDeleteButton]="false"
    [showEndButton]="true"
    [pedidoStatus]="p.status"
    (editButtonClick)="handleEditButtonClick($event)"
  ></app-table>

</div>
</div> 