.container {
    display: flex;
    width: 200px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 12px;
    background: var(--Gray-2, #F7F6FA);
    height: 170px;
    position: relative;
    justify-content: space-between;

}


.id {
    border-radius: 4px;
    background: #165BAA;
    padding: 4px 8px;
    color: #fff;
}

.p-name {
    color: #2A282F;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.64px;
}

.p-price {
    color: #A8A6AC;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}

.container .add {
    align-self: center;
    border-radius: 8px;
    background: #F6725C;
    color: #FFF;
    text-align: center;
    border: none;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.56px;
    width: 161px;
    height: 36px;
}

.ingredients,
.description {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: #fff;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

.container:hover .ingredients,
.container:hover .description {
    display: block;
}
