<div class="header">
  <h1>Dashboard</h1>
  <hr />
</div>

<div class="top d-flex flex-column gap-4">
  <app-new-pedido ></app-new-pedido>
  <div class="topper d-flex flex-row justify-content-between gap-4 mt-2 w-100">
    <img src="assets/4255150-removebg-preview 2.png" />
    <app-general-stats class=" align-self-end mt-2"></app-general-stats>
    <div class="graph">
      <canvas
        baseChart
        [type]="'pie'"
        [datasets]="pieChartData"
        [labels]="pieChartLabels"
        [legend]="pieChartLegend"
      ></canvas>
    </div>
  </div>
</div>

<div class="mid w-100  mt-4">
  <table>
    <tr>
      <th>CPF Cliente</th>
      <th>Forma de Retirada</th>
      <th>Valor Total</th>
      <th>Ações</th>
    </tr>
    <tr *ngFor="let item of pedidos">
      <td>{{item.cliente.cpf}}</td>
      <td>{{item.formaDeEntrega}}</td>
      <td>{{item.valorTotal}}</td>
      <td>
        <button class="btn btn-primary" (click)="editar(item)">
          <i class="bi bi-pencil-square"></i>
        </button>
      </td>

  </table>
</div>

<div *ngIf="isAdmin" class="bottom d-flex flex-row w-100 gap-2 mt-3">
<table>
    <tr>
        <th>Nome Sabor</th>
        <th>Qtde. Pedida</th>
    </tr>
    <tr *ngFor="let item of saboresMaisPedidos">
        <td>{{item.pizza.tamanho}}</td>
        <td>{{item.qtdePedida}}</td>
    </tr>
</table>
</div>