<div class="header">
  <h1>Iniciar Pedido</h1>
  <hr/>
</div>

<form class="needs-validation" #pedidoForm="ngForm" (ngSubmit)="submitForm(pedidoForm)">
  <div [ngClass]="{
    'alert alert-success':'!isErro',
    'alert alert-danger':'isErro'}" *ngIf="mensagem" role="alert">
    {{mensagem}}
  </div>
  <div class="row g-3">
    <div class="col-md-4">
      <label for="cpfCliente" class="form-label">CPF do Cliente</label>
      <input
        type="text"
        class="form-control"
        id="cpfCliente"
        name="cpfCliente"
        [(ngModel)]="pedido.cliente.cpf"
        (ngModelChange)="getClientByCPF()"
        required
      />
    </div>
    
    <div class="col-md-3">
      <label for="nomeCliente" class="form-label">Nome do Cliente</label>
      <input
        type="text"
        class="form-control"
        id="nomeCliente"
        name="nomeCliente"
        [(ngModel)]="pedido.cliente.nome"
        disabled
      />
    </div>

    <div class="col-md-4 d-flex flex-row align-items-end gap-1 mb-1">
      <button class="btn btn-sm">
        Cadastrar Novo Cliente
      </button>
      <button class="btn btn-sm">
        Editar dados Cliente
      </button>
    </div>
  </div>

  <div class="row g-3 mt-2">
    <div class="col-md-4">
      <label for="cpfFunc" class="form-label">CPF do Funcionario</label>
      <input
        type="text"
        class="form-control"
        id="cpfFunc"
        name="cpfFunc"
        [(ngModel)]="pedido.funcionario.cpf"
        (ngModelChange)="getFuncByCPF()"
        required
      />
    </div>

    <div class="col-md-3">
      <label for="nomeFunc" class="form-label">Nome do Funcionario</label>
      <input
        type="text"
        class="form-control"
        id="nomeFunc"
        name="nomeFunc"
        [(ngModel)]="pedido.funcionario.nome"
        disabled
      />
    </div>
  </div>

  <div class="row g-3 mt-2">
    <div class="col-md-3">
      <label for="formaRetirada" class="form-label">Forma De Retirada</label>
      <select class="form-select" id="formaRetirada" name="formaRetirada" [(ngModel)]="selectedFormaDeRetirada" required>
        <option value="" disabled>Escolha ...</option>
        <option *ngFor="let forma of formasDeRetirada" [value]="forma">{{ forma }}</option>
      </select>
    </div>
  </div>
  

  <div class="actions d-flex flex-row gap-1">
  
    <button class="btn btn-primary" routerLink="/pedidos/listar-pedido">Cancelar</button>
    <button class="btn btn-secondary" type="submit" >Continuar</button>
  </div>
</form>
