.pre{
    padding: 10px;
}

.header h1 {
    color: var(--gray-800, #212B36);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 120% */
    padding-top: 10px;
}

.btn {
    border-radius: 8px;
    background: #F6725C;
    color: #fff;
    height: 33px;
}

.actions{
    float: right;;
    margin-right: 20px;
    margin-top: 50px;

}

.actions button{
width: 105px;
height: 33px;
border: none;
padding: 0;
}

.aviso{
    align-items: start;
    justify-content: safe;
    
    font-style: bold;
    font-size: 16px;

}