<div class="registrar">
    <div class="header">
        <h1>Pizza</h1>
        <hr>
    </div>


    
    <form class="needs-validation">

        <div class="aviso d-flex align-items-center ms-4" id="alert" [ngClass]="{'alert alert-success': type === 'success', 'alert alert-danger': type === 'danger' }">
            <p>{{mensagem}}</p>
        </div>

        <div class="row g-3 ms-3">
    
            <div class="col-md-4">
              <label for="tamanhoPizza" class="form-label marginleft margintop">Tamanho da Pizza</label>
              <select
                type="text"
                class="form-control marginleft inputs"
                id="tamanhoPizza"
                name="tamanhoPizza"
                [(ngModel)]="pizza.tamanho"
                          >
                <option value="" disabled>Escolha ...</option>  
                <option *ngFor="let tamanho of tamanhoOption">{{ tamanho }}</option>
                </select>
        </div>
    
        </div>
    
        <div class="row g-3 ms-3">
            <div class="col-md-4 mt-5">
                <label for="precoPizza" class="form-label marginleft">Preço da Pizza</label>
                <input
                type="number"
                class="form-control inputs marginleft"
                id="precoPizza"
                name="precoPizza"
                placeholder="Digite aqui..."
                [(ngModel)]="pizza.preco"
                />
            </div>
        </div>
    
        <div class="actions d-flex flex-row gap-1">
      
            <button class="btn btn-primary" routerLink="/cardapio/pizzas/listar">Cancelar</button>
            <button class="btn btn-secondary" type="submit" (click)="submit()">Continuar</button>
          </div>
    

    
    </form>  
    </div>