<div class="chosen-pizza d-flex  align-items-start  gap-2 ">
  <div class="header d-flex flex-column justify-content-between align-items-start gap-2">
    <span class="id">#{{ product.produto.id }}</span>
    <span class="name">{{ product.produto.nomeProduto }}</span>
    <div class="details d-flex flex-column">
      <span class="price">$R {{ calculatePrice() }}</span>
    </div>
    <button class="btn" (click)="removeProduto()">
      Excluir Produto
    </button>
  </div>
  <div class="qtde d-flex gap-1 align-items-center">
    <i class="bi bi-dash-circle" (click)="decreaseQuantity()"></i>
    <span class="varQtde">{{ product.qtdePedida }}</span>
    <i class="bi bi-plus-circle" (click)="increaseQuantity()"></i>
  </div>
</div>